@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
html,body { height: 100%; }
ul,li { list-style: none; }
body {
  color: #555;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Noto Sans KR', sans-serif;
  background: #f1f1f1;
}
a { color: #666; }

.font-big {
  font-size: 20px;
}

#header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
}

#header-top {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #e5e7ee;
}

.header-top-inner {
  width: 1400px;
  height: 46px;
  line-height: 2.8;
  margin: 0 auto;
  color: #7d7d7d;
}

.header-top-inner a {
  color: #7d7d7d;
}

.around-st, .family-site, .sign-lang {
  display: inline-block;
  vertical-align: top;
}

.around-st {
  width: 320px;
  height: 46px;
}

.around-st ul {
  overflow: hidden;
  width: 810px;
}

.around-st ul li {
  float: left;
  margin: 0 12px;
  position: relative;
}

.around-st ul li::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 14px;
  top: 16px;
  right: -11px;
  background: rgba(209, 209, 209, 0.7);
}

.around-st li:nth-child(1) {
  margin-left: 0;
}

.around-st ul li:last-child::after {
  top: 0;
  bottom: 0;
  height: 50px;
}

.family-site {
  width: 400px;
  height: 46px;
}

.family-site a {
  width: 100px;
  height: 46px;
}

.sign-lang {
  position: relative;
  width: 630px;
  height: 46px;
  float: right;
}

.weather, .signup, .language, .font-size, .green-box {
  display: inline-block;
  margin-left: 10px;
}

.weather {
  width: 220px;
  margin-left: 0;
}

#header-bottom {
  width: 1400px;
  height: 105px;
  margin: 0 auto;
  line-height: 105px;
}

.logo {
  float: left;
  position: relative;
  top: 15%;
}

.gnb-wrap {
  float: right;
  width: 610px;
}

.gnb {
  float: left;
}

.gnb ul {
  overflow: hidden;
}

.gnb ul li {
  float: left;
  margin-right: 10px;
  color: #1a1a1a;
}

.right-gnb {
  float: right;
  margin-left: 20px;
}

.right-gnb ul {
  overflow: hidden;
}

.right-gnb ul li {
  float: left;
}

.right-gnb ul li:nth-child(2) {
  margin-left: 10px;
}
